:root {
    --var-color-white: hsl(0, 0%, 100%);
    --var-color-slate-300: hsl(212, 45%, 89%);
    --var-color-slate-500: hsl(216, 15%, 48%);
    --var-color-slate-900: hsl(218, 44%, 22%);
}

html, body {
    min-height: 100vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;

    justify-content: center;

    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    background-color: var(--var-color-slate-300, hsl(212, 45%, 89%));
}

.card {
    margin-left: auto;
    margin-right: auto;

    width: 21rem;

    padding: 1rem;

    border-radius: 1rem;

    text-align: center;

    background-color: var(--var-color-white, hsl(0, 0%, 100%));

    & img {
        width: 100%;

        border-radius: 0.5rem;
    }

    & p {
        font-size: 15px;
    }

    & h1 {
        font-size: 27px;
        font-weight: 700;
    }

    & p, h1 {        
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}

.attribution {
    margin-top: 1rem;

    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}